<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">Assembly</a></h1>
        </div>
        <div id="menu" data-sly-use.="">
            <ul>
                <li class="active"><a href="#">Homepage</a></li>
            </ul>
        </div>
    </div>
    <div id="banner" class="container">
        <div class="title">
            <h2>Consectetuer adipiscing elit</h2>
            <span class="byline">Donec pulvinar ullamcorper metus</span>
        </div>
        <ul class="actions">
            <li><a href="#" class="button">Pulvinar mollis</a></li>
        </ul>
    </div>
</div>